<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
        <add key="DataConnectionString" value="UseDevelopmentStorage=true" />
        <add key="ApiUrl" value="http://content.guardianapis.com/"/>
        <add key="ApiKey" value="techdev-approved"/>
        <add key="ApiPageSize" value="10"/>
		<!-- Accepts a comma delimited list of assembly names containing mapping artifacts; the ".dll" is optional -->
		<add key="nhibernate.mapping.assembly" value="GuardianReviews.NHibernate" />
    </appSettings>

    <connectionStrings>
        <!--<add name="GuardianReviews.ConnectionString" 
             connectionString="Data Source=ad0wszpfbk.database.windows.net;Initial Catalog=ReviewQueue;User id=AzureAdmin;password=fut0niC!" 
             providerName="System.Data.EntityClient" />-->
         <!--<add name="GuardianReviews.ConnectionString"
             connectionString="Data Source=10.192.19.30;Initial Catalog=ReviewQueue;User id=websiteuser;password=s1mpl3"
             providerName="System.Data.EntityClient" />-->
        <!--<add name="GuardianReviews.ConnectionString" 
             connectionString="Data Source=gpdev;Initial Catalog=ReviewQueue;Integrated Security=True" 
             providerName="System.Data.EntityClient" />-->
        <add name="GuardianReviews.ConnectionString"
             connectionString="Data Source=10.192.19.30;Initial Catalog=ReviewQueue;User id=websiteuser;password=s1mpl3"
             providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
