@using GuardianReviews.Domain.Model
@using GuardianReviews.Domain.BaseClasses
@{
    Layout = Layout = "~/Views/Shared/_Base.cshtml";
}
@*<div id="menucontainer">
    <ul id="menu">
        <li><span><a href="/review" title="content">All</span></a></li>
        @foreach (var reviewType in Enumeration.GetAll<ReviewTypes>().Where(r => r.ShowInUI))
        {
            <li><span><a href="/review/@reviewType.Name" title="content">@reviewType.DisplayName
            </a></span></li>
        }
        <li><span><a href="/review" title="content">Settings</span></a></li>
    </ul>*@

    @{Html.RenderAction("Index", "Menu");}
    <div id="main">
        @RenderBody()
    </div>
@*</div>*@
@*<script type="text/javascript">
    $(function () {
        $("#menucontainer").tabs();
    });
</script>
*@