@using GuardianReviews.Domain.Model
@using GuardianReviews.Domain.BaseClasses
@model List<Review>
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.1.js" type="text/javascript"></script>    
@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.1.vsdoc.js" type="text/javascript"></script>*@
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.6/jquery-ui.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.raty.js")" type="text/javascript"></script>

<div id="menucontainer">
    <ul id="menu">
        <li><span><a href="/review/reviewList/">All</span></a></li>
        @foreach (var type in Enumeration.GetAll<ReviewTypes>().Where(r => r.ShowInUI))
        {
        <li><span><a href="/review/reviewlist/@type.Name">@type.DisplayName </a></span></li>
        }
        
    </ul>
</div>

<script>
    
    $(function () {
        $("#menucontainer").tabs();
    });
    
</script>