<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GuardianReviewsContainer" connectionString="metadata=res://*/GuardianReviews.csdl|res://*/GuardianReviews.ssdl|res://*/GuardianReviews.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ad0wszpfbk.database.windows.net;Initial Catalog=GuardianReviews;User ID=AzureAdmin@ad0wszpfbk;Password=fut0niC!;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>